<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../static/css/main.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <title>B Traits to Successful Software Development</title>
    <meta name = "description=" content="Discussing some of the traits to successful software development that will help you become a successful developer."/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175723314-1"></script>
    <script src="../static/js/gtag.js" th:src="@{js/gtag.js}" type="text/javascript"></script>
</head>
<body>

<div th:insert="fragments/topmenu :: top-nav-menu"></div>
<div class="row">
    <div class="col-7 m-5 container">
        <h1>8 Traits to Successful Software Development</h1>
        <hr>
        <p>
            There are some personality/character traits that most developers have acquired, that makes them successful.
            You aren't always born with these traits and can develop or work on it to become better at it.  Here is the
            list of traits for you.</p>
        <br>
        <h4>1.  Enjoy problem solving</h4>
        <p>
            I would say that problem solving is the number <b>one</b> thing that developers do all the time.  That is your
            main function, to solve your client’s problem in the best possible way.
        </p>
        <p>
            So if you enjoy puzzles, brain teasers and solving problems in general and get a sense of accomplishment when you
            are able to solve the problem, then you are in a good space to be in software development.
        </p>
        <p>A good thing to remember is that there are different ways to solve the same problem, you just need to find the
            best and most efficient way you can think of to solve the problem and then trust yourself.
        </p>
        <br>
        <h4>2.  Become a lifelong learner</h4>
        <p>
            Technology is a very fast-paced industry.  Some technologies I used only a few years ago, are almost obsolete already.
            I won’t even mention some of the technologies and languages I learnt in varsity.
        </p>
        <p>
            You need to be a lifelong learner to stay up to date with all the latest technologies.  If you don’t keep on
            learning, you will get left behind in this industry.
        </p>
        <p>
            The best developers are the ones who keep up to date with technology and keep learning new tips, techniques
            and technologies.  The good thing is that we now have Google and you can find a lot of information on the web
            about almost anything.  Google is the go to  for almost all developers if they get stuck on a problem as chances
            are that someone else has encountered that problem before you and would be able to help you with it too.
        </p>
        <p>Albert Einstein said, <i>“Once you stop learning, you start dying.”</i>  This is especially true in the software development world.
        </p>
        <br>
        <h4>3.  Be determined and persevere</h4>
        <p>
            When writing code, you will at some point or another come across a problem that might have you stuck for quite some time,
            while trying to find a solution.  In this case you need to have the grit and tenacity to persevere with it until
            you are able to solve the problem.
        </p>
        <p>
            You cannot afford to give up if someone is counting on you to solve their problem.  Part of your job will be to figure
            out why something is not working and to then get it working.
        </p>
        <p>
            It should give you an immense sense of accomplishment when you finally solve the problem you have been battling with.
        </p>
        <br>
        <h4>4.  Be Creative</h4>
        <p>
            You need to be able to think ‘outside the box’ and get creative to come up with the best solutions.  Sometimes
            when you are stuck on a problem, it helps to take a step back, change your perspective and think of the problem
            in a different more creative way.  It might just help you stumble onto the solution that you were looking for.
        </p>
        <p><i><center>You may not think that programmers are artists, but programming is an extremely creative profession.
            It’s logic-based creativity
            - John Romero</center></i>
        </p>
        <br>
        <h4>5.  Think in your feet and adapt</h4>
        <p>
            With the fast changing nature of software development, you need to be able to think on your feet and change your
            thought patterns and sometimes coding, rapidly as the specs from clients change, evolve and grow.
        </p>
        <p>
            Don’t be too set in your ways and resistant to change, it might be the difference between being ahead of
            the pack or being left behind.
        </p>
        <br>
        <h4>6.  Pay attention to the detail</h4>
        <p>
            To be able to have a robust solution, you need to pay attention to the little details to make sure that you
            haven’t missed anything.  Look at the solution from all sides and go through all possible scenarios.
            Especially when it comes to front-end coding, you need to think of all the possible ways that a client might
            be able to ‘break’ your code.
        </p>
        <p>
            Developers who pay attention to detail will write more robust code and pick up mistakes in your own and other
            people’s code.  Computers only do what you tell them to do, if the code has a bug, it is not the computer’s
            fault …
        </p>
        <br>
        <h4>7.  Be a team player</h4>
        <p>
            For some reason a large percentage of people interested in software development are introverts, but that
            doesn’t mean that you isolate yourself and sit in your basement coding away at your next amazing app or
            that all developers are introverts.
        </p>
        <p>
            Most often you will need to work as a team when you develop software.  You need to be able to work with
            people, whether its your fellow developers or your clients.
        </p>
        <p>
            Part of this is to be willing to learn from others, as well as willing to teach others.  It works best if
            you help each other out and not keep all the information to yourself.
        </p>
        <p>
            If a fellow developer has a problem that you’ve had before, help them out with the solution.  Chances are
            that you will soon be in the situation where you might need help with a problem.
        </p>
        <br>
        <h4>8.  Have fun!</h4>
        <p>
            To become really good at something, it is important to enjoy it too.  You need to get some satisfaction
            and joy from what you are doing otherwise it will become a chore and difficult to go that extra mile.
        </p>
        <p>
            If you enjoy a good challenge, problem solving, making things and technology, then chances are pretty
            good that you will enjoy software development too.
        </p>
        <hr>
        <div th:insert="fragments/comments :: comments"></div>
    </div>

    <div class="col-4" th:insert="fragments/sqeezepage-sm :: sqeezepage-sm"></div>

</div>

<div th:insert="fragments/footer :: footer"></div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>