/ThePhotoShackLive.pem
/auth-service/mongo-volume/
/auth-service/target/
/auth-service/HELP.md
/blogging-service/build/
/blogging-service/.gradle/
/blogging-service/mongo-data/
/blogging-service/HELP.md
/config-server/target/
/config-server/HELP.md
/config-server/src/main/resources/shared/auth-service-dev.yml
/config-server/src/main/resources/shared/auth-service-prod.yml
/config-server/src/main/resources/shared/blogging-service-dev.yml
/config-server/src/main/resources/shared/blogging-service-prod.yml
/config-server/src/main/resources/shared/emailmarketing-service-dev.yml
/config-server/src/main/resources/shared/emailmarketing-service-prod.yml
/config-server/src/main/resources/shared/webclient-service-dev.yml
/config-server/src/main/resources/shared/webclient-service-prod.yml
/config-server/configserver.iml
/emailmarketing-service/build/
/emailmarketing-service/.gradle/
/emailmarketing-service/mongo-data/
/emailmarketing-service/HELP.md
/gateway-service/target/
/gateway-service/HELP.md
